
/* CSS Document */


*{
	padding:0;
	margin:0;
}

.fixit:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fixit{display:inline-block;clear:both;}
* html .fixit{height:1%;}
.fixit{display:block;}

body{

	line-height:18px;
	font-family: 'futura_lt_btlight';
	background:#0c5b42;
	color:#fff;
		font-size:10px;
}

a, a:active, a:link, a:visited{
	color:#fff;
	text-decoration:none;
}
.green{
	background-color:#23b24e;
}
.violet{
	background-color:#9f4098;
}
.orange{
	background-color:#f58430;
}

.active{
	background-color:#7c7d80 !important;
}

.center{
	text-align:center
}

.icon{
width: 16.07%;
height: 16.07%;
padding: 0 3.571% 3.571% 1.785%;
margin: 1.785% 3.571% 3.571% 0;
word-wrap: break-word;
font-size:0.777777em;
text-transform:uppercase;
letter-spacing:-1px;
}

.icon .text{
	padding-bottom:11.1%;
}

.icon:hover{
	box-shadow:0px 0px 2px #2e2e2e;
	-webkit-box-shadow:0px 0px 2px #2e2e2e;
	-moz-box-shadow:0px 0px 2px #2e2e2e;
}

.icon .attendance{
background-position: -1px 0px;
background: url('images/sprite.png');
width:45px;
height:45px;
margin:0 auto;

}

.icon .books{
	background: url(images/sprite.png) no-repeat;
	background-position:-50px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .calendar{
	background: url(images/sprite.png) no-repeat;
	background-position:-98px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .campus{
	background: url(images/sprite.png) no-repeat;
	background-position:-147px 0px;
	
width:45px;
height:45px;
margin:0 auto;

	
}
.icon .emergency{
	background: url(images/sprite.png) no-repeat;
	background-position:-197px 0px;
width:45px;
height:45px;
margin:0 auto;
	
}
.icon .enrollment{
	background: url(images/sprite.png) no-repeat;
	background-position:-243px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .fees{
	background: url(images/sprite.png) no-repeat;
	background-position:-292px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .findstaff{
	background: url(images/sprite.png) no-repeat;
	background-position:-341px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .food{
	background: url(images/sprite.png) no-repeat;
	background-position:-388px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .forms{
	background: url(images/sprite.png) no-repeat;
	background-position:-436px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .lectures{
	background: url("images/sprite.png") no-repeat scroll -532px 0 transparent;
width:45px;
height:45px;
margin:0 auto;
}

.icon .library{
	background: url("images/sprite.png") no-repeat scroll -578px 0 transparent;
width:45px;
height:45px;
margin:0 auto;
}

.icon .mail{
	background: url(images/sprite.png) no-repeat;
	background-position:-630px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .parking{
	background: url(images/sprite.png) no-repeat;
	background-position:-679px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .polices{
	background: url(images/sprite.png) no-repeat;
	background-position:-727px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .profile{
	background: url(images/sprite.png) no-repeat;
	background-position:-777px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .programs{
	background: url(images/sprite.png) no-repeat;
	background-position:-827px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .results{
	background: url(images/sprite.png) no-repeat;
	background-position:-877px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .studyplan{
	background: url(images/sprite.png) no-repeat;
	background-position:-971px 0px;
width:45px;
height:45px;
margin:0 auto;
}
.icon .tracker{
	background: url(images/sprite.png) no-repeat;
	background-position:-1022px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .transport{
	background: url(images/sprite.png) no-repeat;
	background-position:-1070px 0px;
width:45px;
height:45px;
margin:0 auto;
}

.icon .units{
	background: url(images/sprite.png) no-repeat;
	background-position:-1117px 0px;
width:45px;
height:45px;
margin:0 auto;
	
}




.icon.f{
	width:14.062%;
	height:14.062%;
	padding:5.15%;
	margin:0 0.625% 0 0 !important;
	background:#3d3e43;
	font-size:1.11em;
	text-transform:uppercase;
}
.icon.f:hover{
	background-color:#7c7d80;
}

.icon.f .home{
	background: url("images/sprite.png") no-repeat scroll -1244px 0 transparent;
    height:38px;
    width:38px;
	margin:0 auto;
}


.icon.f .study{
	background: url("images/sprite.png") no-repeat scroll -1162px 0 transparent;
        height:38px;
    width:38px;
	margin:0 auto;
}


.icon.f .around{
	background: url("images/sprite.png") no-repeat scroll -1203px 0 transparent;
        height:38px;
    width:38px;
	margin:0 auto;
}


.icon.f .apps{
	background: url("images/sprite.png") no-repeat scroll -1289px 0 transparent;
      height:38px;
    width:38px;
	margin:0 auto;
}

header{
position: relative;
margin: 0 auto 0.714% auto;
width:87.5%;
}


#logo {
margin-left: 0.714%;
margin-top: 1.071%;
}

nav#primary{
width: 100%;
position: relative;
margin-top: 20%;
}



#pulldown-icon{
background: url('images/drop-icon.png');
width: 29px;
height: 29px;
margin-left: 24.5%;
margin-top: 2.07%;
}

#pullup-icon{
background: url("images/drop-up-icon.png") repeat scroll 0 0 transparent;
display: none;
width: 29px;
height: 29px;
margin: 5.07% auto;
	
}

#icons-list{
	display:none;
	width: 87.5%;
position: absolute;
top: 26%;
margin: 0 auto;
left: 10%;

}

nav#primary ul{
list-style: none;
text-align: center;
}

nav#primary ul li{
	display:inline;
	margin:0 2.25%;
}

.fleft{
	float:left;
}

.fright{
	float:right;
}

#outer-container{
	width:100%;
	margin:0 auto;
      }

#content{
	width:87.5%;
	margin:0 auto;
}


#footer-links{
	background:#93aba4;
}




footer{
	position:fixed;
	bottom:0;
	margin:0 auto;	
	margin-top:6.25%;
	z-index:10;
	width:100%;
}




@font-face {
    font-family: 'futura_lt_btlight';
    src: url('files/futural-webfont.eot');
    src: url('files/futural-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/futural-webfont.woff') format('woff'),
         url('files/futural-webfont.ttf') format('truetype'),
         url('files/futural-webfont.svg#futura_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}